spring.datasource.driver-class-name={{ lookup('env', 'JDBC_DRIVER') }}
spring.datasource.url={{ lookup('env', 'DATASOURCE_URL') }}
spring.datasource.username={{ lookup('env', 'DATASOURCE_USER') }}
spring.datasource.password={{ lookup('env', 'DATASOURCE_PASSWORD') }}
