<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <GlobalNamingResources>
    <Resource name="jdbc/TeachuaDB"
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="20"
              maxIdle="10"
              maxWaitMillis="10000"
              username="{{ db_user }}"
              password="{{ db_password }}"
              driverClassName="{{ jdbc_driver }}"
              url="{{ db_url }}"/>
  </GlobalNamingResources>
  <Service name="Catalina">
    <Connector port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost" appBase="webapps"
            unpackWARs="true" autoDeploy="true">
        <!-- Define your context and resources here -->
      </Host>
    </Engine>
  </Service>
</Server>
